In [2]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:96% !important; }</style>"))

In [3]:
import datetime

In [5]:
print("Started at : ", datetime.datetime.now())

Started at :  2023-11-03 18:18:28.464784

In [18]:
import requests
from zipfile import ZipFile

In [16]:
d = requests.get("https://storage.googleapis.com/ztm_tf_course/nlp_getting_started.zip")

In [19]:
with open("data/getting_started.zip", "wb") as f:
    f.write(d.content)

In [21]:
with ZipFile("data/getting_started.zip", 'r') as z:
    z.extractall("data/")

In [22]:
import pandas as pd

In [24]:
train_df = pd.read_csv("data/train.csv")
test_df = pd.read_csv("data/test.csv")

In [26]:
import numpy as np
import random
random.seed(42)
np.random.seed(42)

In [27]:
train_df.shape, test_df.shape

((7613, 5), (3263, 4))

In [28]:
train_df_shuffled = train_df.sample(frac=1, random_state=42)

In [29]:
train_df_shuffled.head()

,id,keyword,location,text,target
2644,3796,destruction,NaN,So you have a new weapon that can cause un-ima...,1
2227,3185,deluge,NaN,The f$&amp;@ing things I do for #GISHWHES Just...,0
5448,7769,police,UK,DT @georgegalloway: RT @Galloway4Mayor: ÛÏThe...,1
132,191,aftershock,NaN,Aftershock back to school kick off was great. ...,0
6845,9810,trauma,"Montgomery County, MD",in response to trauma Children of Addicts deve...,0

In [30]:
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [38]:
train_df['target'].value_counts()

target
0    4342
1    3271
Name: count, dtype: int64

In [82]:
for _ in range(10):
    random_no = random.randint(0, len(train_df)-1)
    print("\033[0mLabel : ",f"\033[1m{train_df_shuffled.target[random_no]}")
    print(f"\033[0mText : " , f"\033[1m{train_df_shuffled.text[random_no]}")
    print("")

Label :  1
Text :  Oregon's biggest wildfire slows growth http://t.co/P0GoS5URXG via @katunews

Label :  0
Text :  #ActionMoviesTaughtUs things actually can explode with a loud bang...in space.

Label :  1
Text :  'Tube strike live: Latest travel updates as London engulfed in chaos' &lt;- genuine baffling Telegraph headline

Label :  1
Text :  'Drowning' - Acrylic 08.05.15 https://t.co/X17fUBQBGG

Label :  0
Text :  cPanel Crash Course http://t.co/bIRKbje23e #course http://t.co/buZWJmW49e

Label :  1
Text :  The cryptic words that guided pilots on the Hiroshima bombing mission http://t.co/FCe0K1Ihti

Label :  0
Text :  @TasteMyCupCakee lmfaooo  hell nawh ?? yo ass thought ??

Label :  1
Text :  @gilmanrocks7 wow. Where is this? For the rest of the summer I usually have to worry about forest fires. Calgary is about 8 hours away.

Label :  1
Text :  @Benjm1 @TourofUtah @B1Grego saw that pileup on TV keep racing even bleeding

Label :  0
Text :  I added a video to a @YouTube playlist http://t.co/f2TqMFh1Yb Cher Lloyd - Sirens

 - `Diaster - 1`

 - `Not Real Diaster - 0`